h1{
  margin: 0;
  font-family: "raleway";
  src: url ("../fonts/raleway-regular.ttf") format('truetype');
  font-size: 35px;  
  text-align: center;
}
  
/*Body*/

body{
  margin: 0; /* Removed margin */
  overflow-y: scroll; /* keep scrollbar */
  text-align: center;
  font-family: "verdana";
}

.asciiButton{
  cursor: pointer;
  user-select: none;
}

.asciiNinjaButton{
  user-select: none; /* pointer does not change */
}

