h1{
  margin: 0;
  font-family: "raleway";
  src: url ("../fonts/raleway-regular.ttf") format('truetype');
  font-size: 250px;  
  text-align: center;
}
  
menuButton{
  font-family: "raleway";
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
/*Body*/

body{
  margin: 0; /* Removed margin */
  overflow-y: scroll; /* keep scrollbar */
  text-align: center;
}

.asciiButton{
  cursor: pointer;
  user-select: none;
}

.asciiNinjaButton{
  user-select: none; /* pointer does not change */
}

